<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<table>
	<thead>
		<tr>
			<th>Name</th>	
			<th>Prompt</th>
			<th>Type</th>
		</tr>
	</thead>
</table>

<form class="output"></form>
<div class="tools"></div>