<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/cipres-xml.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome-4.5.0/css/font-awesome.min.css' />

  </head>
  <body>
    {{{body}}}
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/javascripts/pise-tool.js"></script>
    <script src="/javascripts/tool-dropdown.js"></script>
  </body>
</html>
