<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/javascripts/pise-tool.js"></script>
    <script src="/javascripts/tool-dropdown.js"></script>
		<!-- script src="javascripts/custom.js"></script -->
  </body>
</html>
