body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container-header {
	cursor: pointer;
}

.form-group.disabled > label {
	color: #95a5a6;
}
